# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine On

# map neat URL to internal URL
RewriteRule ^grad/all$   rest.php?view=svi_gradovi [nc,qsa]
RewriteRule ^registracija/([a-zA-Z]+)/(.*)/(.*)/([0-9]+)/(.*)/(.*)/([a-zA-Z0-9]+)/(.*)/(.*)/$ rest.php?metoda=$1&email=$2&lozinka=$3&oib=$4&grad=$5&adresa=$6&kontakt=$7&ime=$8&prezime=$9 [nc,qsa]
RewriteRule ^registracijaOstali/([a-zA-Z]+)/(.*)/(.*)/([0-9]+)/(.*)/(.*)/([a-zA-Z0-9]+)/(.*)/([a-zA-Z]+)/$ rest.php?metoda=$1&email=$2&lozinka=$3&oib=$4&grad=$5&adresa=$6&kontakt=$7&naziv=$8&tip=$9 [nc,qsa]
RewriteRule ^paket/novi/(.*)/(.*)/$  rest.php?metoda=novi&korisnik=$1&json=$2 [nc,qsa]
RewriteRule ^paket/dohvati/(.*)/$  rest.php?metoda=dohvati&korisnik=$1 [nc,qsa]
RewriteRule ^vrstaJedinica/all/$   rest.php?view=vrsta_jedinica [nc,qsa]
RewriteRule ^registerDevice/(.*)/(.*)/$   firebase.php?metoda=registerDevice&email=$1&token=$2 [nc,qsa]
RewriteRule ^getTokens/all/$   rest.php?metoda=getAllTokens [nc,qsa]
RewriteRule ^([a-zA-Z]+)/(.*)/(.*)/$   rest.php?metoda=$1&email=$2&lozinka=$3 [nc,qsa]


